<div class="container">
  <div id="wrap">
    <div class="col-md-6 text-center" class="vertical-middle">
      <a href="/purchase/buycoin">
      <h3>코인 구매</h3>
      <p>코인을 구매한 후 강의를 즐겨보세요.</p>
      </a>
    </div>
    <div class="col-md-6 text-center">
      <a href="/purchase/sellcoin">
      <h3>코인 환전</h3>
      <p>누적된 코인을 현금으로 환전할 수 있습니다.</p>
      </a>
    </div>
  </div>
</div>
