<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
      <legend>코인 환전</legend>
      <form class="form-horizontal" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="buN1IFAyA+Q+l4ZC4oii/wZXe3gTNh8wYnP+UoSYM4Mhe4a9wCh9Tgg3b4udtQ0uFLKG9s/SGXma/MmwSnyA0Q==" />

        <div class="form-group">
          <label class="col-md-2 control-label">코인 환전 안내</label>
          <div class="col-md-10">
            <div class="box-control">
              1. 본인 확인을 위해 입금자정보를 확인하게 되었습니다.<br>
              2. 영업일(월~금요일) 오전 9시~오후 6시에 환전 신청 시 당일 오후 6시~7시에 환전 및 입금이 완료됩니다.<br>
              3. 영업일(월~금요일) 오후 6시 이후에 환전 신청 시 다음 영업일 오전 8시~9시에 환전 및 입금이 완료됩니다.<br>
              4. 비영업일(토~일요일, 공휴일)에 환전 신청 시, 다음 영업일 오전 8시~9시에 환전 및 입금이 완료됩니다.<br>
              5. 랭디 고객의 개인정보는 안전하게 보호되며, 본인 확인 완료 후 완전히 삭제됩니다.
            </div>
          </div>
        </div>
        
        <div class="form-group">
        <label for="input_current_coin" class="col-md-2 control-label">현재 코인</label>
          <div class="col-md-10">
            <div class="form-control">
              <%= current_user.cash %>코인
            </div>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_howmany_coins" class="col-md-2 control-label">환전 코인</label>
          <div class="col-md-10">
            <select class="form-control" name="user[howmany_exchange]" id="user_howmany_exchange">
              <option value="50coins">50 코인</option>
              <option value="60coins">60 코인</option>
              <option value="70coins">70 코인</option>
              <option value="80coins">80 코인</option>
              <option value="90coins">90 코인</option>
              <option value="100coins">100 코인</option></select>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_exchange_coin" class="col-md-2 control-label">환전 금액</label>
          <div class="col-md-10">
            <div class="box-control">
              한국 금액 : 10,000 ₩(KRW, 원)<br>
              중국 금액 : 10,000 ¥(Yuan, 위안) - 2016.04.03 환율 기준<br>
              * 코인 환전시 랭디에서 수수료 15%를 제외한 금액이 송금됩니다.
            </div>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_howtopay_coins" class="col-md-2 control-label">환전 방식</label>
          <div class="col-md-10">
            <select class="form-control" name="user[howtoexchange_coins]" id="user_howtoexchange_coins">
              <option value="bank_transfer">계좌이체</option>
              <option value="alipay">알리페이</option></select>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_buyer_information" class="col-md-2 control-label">수취자 성명/ID</label>
          <div class="col-md-10">
            <input class="form-control" placeholder="계좌이체는 입금자 성명을, 알리페이는 입금자 아이디를 입력해 주세요." autofocus="autofocus" type="text" name="user[buyer_information]" id="user_buyerinformation" />
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_buyer_account" class="col-md-2 control-label">수취자 계좌번호</label>
          <div class="col-md-10">
            <input class="form-control" placeholder="환전 완료된 금액을 수취할 계좌번호를 입력해 주세요" autofocus="autofocus" type="text" name="user[buyer_account]" id="user_buyeraccount" />
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-md-3 col-md-offset-2">
            <input type="submit" name="commit" value="환전 신청" class="btn btn-primary"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>