<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> Buy Coins </h3>
    </div>

    <div class="col-md-8">

      <%= form_for :transaction, url: submit_purchase_path do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3> Select money amount </h3>
            <hr>
            <div class="col-md-12">
              <div class="form-group">
                <label for="select" class="col-md-2">Selects</label>
                <div class="col-md-10">
                  <%= f.select(:amount, [['10,000 KRW = 10 p',10], ['20,000 KRW = 20 p',20]], {}, { :class => 'form-control' }) %>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3> Select charging method </h3>
            <hr>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-lg-2 control-label">Methods</label>
                <div class="col-lg-10">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Now only BANK TRANSFER is supported
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <%= f.submit "Process payment!", class: "col-md-12 btn btn-md btn-primary" %>

      <% end %>
    </div>

  </div>
</div>
