<div class="modal fade" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="curriculumLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="curriculumLabel"><%= t "classroom.curriculum.modal_title" %></h4>
      </div>
      <div class="modal-body">
        <div id="lesson_tree"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "classroom.curriculum.cancel" %></button>
        <button id="curri_btn" type="button" class="btn btn-primary" data-dismiss="modal"><%= t "classroom.curriculum.select" %></button>
      </div>
    </div>
  </div>
</div>
