<div class="container">
  <div class="row">
    <%= render partial: 'teachers/curriculum_modal' %>
  
    <!-- left box -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h3 style="margin-top:5px">커리큘럼</h3>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-primary col-md-10" data-toggle="modal" data-target="#curriculumModal">
            수업 선택
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="curri_text" style="height:540px;"></div>
        </div>
      </div>
    </div>
    <!-- left box -->
    
    <!-- right box -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h3 style="margin-top:5px">메모</h3>
        </div>
        <div class="col-md-9">
          <button id="memo_save_btn" type="button" class="btn btn-sm btn-primary col-md-4">저장</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <textarea id="memo_text" class="col-md-12" style="height:540px;"></textarea>
        </div>
      </div>
    </div>
    <!-- right box -->
  </div>
</div>
    
<script src="/assets/bootstrap-treeview.js"></script>
<script src="/assets/myLecture_room.js"></script>
<script tpye="text/javascript">
  var course_id = 0;
  $(document).ready(function(){
    loadLessons(true);
    $('#curri_btn').click(function(){
      lesson_id = showSelectLesson();
    });
    $('#memo_save_btn').click(function(){
      saveMemo(lesson_id, $('#memo_text').val());
    });
  });
</script>

<script src="/assets/bootstrap-treeview.js"></script>
<script tpye="text/javascript">
  function loadCourses() {
    $.post("/get_courses",
    {
        lang: '<%= current_user.lang_to_learn_1 %>',
        mi_selectable: true, //미수강 선택가능 여부
        ye_selectable: true, //수강예정 선택가능 여부
        wa_selectable: true, //수강 완료 선택가능 여부
    },
    function(data, status, xhr) {
        loadCoursesCallback(data);
    });
  }

  function loadCoursesCallback(treeData) {
    $('#tree').treeview({
      data: treeData,
      showTags: true
    });
  }

  loadCourses();
</script>
