<div class="container">
  <%= render partial: 'lecture_room/lesson_modal' %>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h3>커리큘럼</h3>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-primary col-xs-10" data-toggle="modal" data-target="#lessonModal">
            수업 선택
          </button>
        </div>
        <div class="col-md-5"></div>
        <div id="curri_text" class="col-md-12"></div>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h3>메모</h3>
        </div>
        <div class="col-md-9">
          <button id="memo_save_btn" type="button" class="btn btn-sm btn-primary">저장</button>
        </div>
      </div>
      <textarea id="memo_text" class="col-md-12"></textarea>
    </div>
  </div>
</div>
<script src="/assets/bootstrap-treeview.js"></script>
<script src="/assets/myLecture_room.js"></script>
<script tpye="text/javascript">
  var course_id = 0;
  $(document).ready(function(){
    loadLessons(true);
    $('#curri_btn').click(function(){
      lesson_id = showSelectLesson();
    });
    $('#memo_save_btn').click(function(){
      saveMemo(lesson_id, $('#memo_text').val());
    });
  });
</script>
