<!--<a href="/admin/teacher" class="list-group-item <%# if controller.action_name == 'teacher' %>active<%# end %>"> 선생님 목록 </a>-->
<a href="/admin/buycoin" class="list-group-item <% if controller.action_name == 'cash' %>active<% end %>"> 상품권 구매 목록 </a>
<a href="/admin/exchange" class="list-group-item <% if controller.action_name == 'cash' %>active<% end %>"> 상품권 환전 목록 </a>
<a href="/admin/transaction" class="list-group-item <% if controller.action_name == 'cash' %>active<% end %>"> 강의료 목록 </a>
<a href="/admin/set_cash" class="list-group-item <% if controller.action_name == 'set_cash' %>active<% end %>"> 상품권 변경 </a>
<a href="/admin/feedback" class="list-group-item <% if controller.action_name == 'feedback' %>active<% end %>"> 이용자 피드백 </a>
<a href="/admin/curriculum" class="list-group-item <% if controller.action_name == 'curriculum' %>active<% end %>"> 커리큘럼 입력 </a>
<a href="/admin/lesson_history" class="list-group-item <% if controller.action_name == 'lesson_history' %>active<% end %>"> 강의 내역 </a>
