<a href="/admin/teacher" class="list-group-item <% if controller.action_name == 'teacher' %>active<% end %>"> Teachers </a>
<a href="/admin/cash" class="list-group-item <% if controller.action_name == 'cash' %>active<% end %>"> Cash </a>
<a href="/admin/feedback" class="list-group-item <% if controller.action_name == 'feedback' %>active<% end %>"> Feedbacks </a>
<a href="/admin/set_cash" class="list-group-item <% if controller.action_name == 'set_cash' %>active<% end %>"> coin 거래 </a>
<a href="/admin/curriculum" class="list-group-item <% if controller.action_name == 'curriculum' %>active<% end %>"> 커리큘럼 작성 </a>
<a href="/admin/lesson_history" class="list-group-item <% if controller.action_name == 'lesson_history' %>active<% end %>"> lesson history </a>
