<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="admin/teacher" class="list-group-item"> Teachers </a>
        <a href="admin/cash" class="list-group-item"> Cash </a>
      </div>
    </div>
  </div>
</div>
