<div id="main-page-wrapper">
  <img  src="http://cdn.prtl.eu/mp/d1209c05.jpg" class="img-responsive" />
    <div id="main-page-box" class="col-md-push-6 col-md-5 col-md-pull-1">
      <h2 class="row text-center"><strong><%= t "landing_page.slogan" %></strong></br></h2>
      <h3 class="row text-center"><%= t "landing_page.detail_slogan" %></br></br>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">&nbsp;&nbsp;<%= t "landing_page.getting_started" %>&nbsp; &nbsp;</a></p>
      <p class="text-center"><a class="btn btn-default btn-lg" href="#" role="button">&nbsp;<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= t "landing_page.guide_video" %>&nbsp;</a></p>
    </div>
</div>