<div id="main-page-wrapper">
  <img  src="http://cdn.prtl.eu/mp/d1209c05.jpg" class="img-responsive" />
    <div id="main-page-box" class="col-md-push-6 col-md-5 col-md-pull-1">
      <h2 class="row text-center"><strong>중국인에게 배우는 중국어!</strong><br></h2>
      <h3 class="row text-center">중국인 친구와 함께<br>체계적인 회화 학습을 해보세요!</h3><br>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">&nbsp;&nbsp;시작하기&nbsp; &nbsp;</a></p>
      <p class="text-center"><a class="btn btn-default btn-lg" href="#" role="button">&nbsp;<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;랭디는 어떻게 이용하나요?&nbsp;</a></p>
    </div>
</div>