/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 남형걸 수정하다가 맘
@media (min-width: 768px) {
  .navbar-nav>li>a {
  padding: 15px; 
  }
}

a {
  height: 53.3333px;
  line-height: 53.3333px;
}

.navbar-nav {
  height: 53.3333px;
}

.navbar-brand {
  height: 53.3333px;
}
*/

.my-btn {
  border: none;
  background-color: #ffffff;
  height: 40px;
}
  .noti_icon {
    vertical-align: middle;
}

/* DEMO 박스 가려버리기 */
.go-demo-box {
  width: 45px;
  height: 23px;
  position: absolute;
  background: #EEEEEE;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  z-index: 10;
}

/* 커리큘럽 Tree에서 상단 부분 이쁘게 */
#tree-wrapper ul.list-group li:first-child {
  border-top: 0;
}
