// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.profile-pic {
	border-radius: 50%;
}

.column {
  text-align: center;
  border-right-color: grey;
  border-right-style: solid;
  border-right-width: 1px;
}

.first-column {
  border-left-color: grey;
  border-left-style: solid;
  border-left-width: 1px;
}
