// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.profile-pic {
	border-radius: 50%;
}

.column {
  text-align: center;
  border-right-color: grey;
  border-right-style: solid;
  border-right-width: 1px;
}

.first-column {
  border-left-color: grey;
  border-left-style: solid;
  border-left-width: 1px;
}

#main-page-wrapper{
    position:fixed;
    z-index: 1;
    width:100%;
    height:100%;
}

#main-page-box{
    padding:20px;
    background-color: #FFFFF0;
    border-radius: 10px;
    position:absolute;
    top:120px;
    z-index:2;
    opacity:0.85;
}