// Place all the styles related to the lecture_room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}

.lectureroom-info{
    padding-top:188px; 
    padding-bottom:195px; 
    border: 1px solid #eeeeee; 
    background-color: #ffffff;
}

.mainpagebutton{
    text-align:center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    margin:10px;
    width:270px;
    display:inline-block;
    position: relative;
}

.outer {
  display: table;
  width: 100%;
  height: 450px;
}

#curri_text{
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    height:300px; 
    overflow: auto;
}

#memo_text{
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    height:180px; 
    overflow: auto;
}

.curri-title{
    font-size:18px;
    font-weight: bold;
    text-indent:10px;
}

.curri-text1{
    font-weight: bold;
    text-indent:30px;
}

.curri-text2{
    text-indent:50px;
}

.curri-text3{
    text-indent:70px;
}

.curri-text4{
    text-indent:80px;
}